<!DOCTYPE html>
<html ng-app="home">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find 1000's of recipes with our simple to use search engine. You will find anything from delicious desserts to full meals.">
    <meta name="author" content="Lance Ibrahim">

    <title>Is Recipes - Find 1000's of delicious custom recipes</title>

    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-7867777590859919",
              enable_page_level_ads: true
         });
    </script> -->

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src = "js/app.js"></script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="http://www.isrecipe.com">Is Recipe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Log In</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Is Recipe</h1>
          <h2 class="masthead-subheading mb-0">Delicious Custom Recipes</h2>
        </div>
      </div>
    </header>

    <div ng-controller="GetRecipeController">
<div class="container" align="center">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- isrecipe header -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7867777590859919"
     data-ad-slot="8111413215"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</br>
    <form class="form-inline md-form mr-auto mb-4" name="searchForm" ng-submit="searchForm.$valid && getRecipes()" novalidate>
        <input class="form-control mr-sm-2" type="text" placeholder="Search Recipes" aria-label="Search" ng-model="search" name="search" style="max-width: 500px; margin-top: 5px;" required>
        <button class="btn btn-primary btn-xl rounded-pill mt-5" type="submit" style="margin-top:5px !important">Search</button>
    </form>
</div>
     <div ng-repeat="recipe in recipeList">
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="{{recipe.image}}" alt="">
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h4 class="display-4"><a href="{{recipe.url}}">{{recipe.title}}</a></h4>
                <p>Prep and cook time: {{recipe.readyInMinutes}}</p>
                <p>Servings: {{recipe.servings}}</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
<div class="container">

    <p>Welcome to isrecipe.com! We have 1000's of recipes to choose from with a few random ones featured below.<br />
    Please take a glance of some of our delicious featured recipes as well as search for your favorite recipes in the search box above!<br />
    Our catalog is powered by an api with over 360K recipes!</p>

    <h4>Featured Recipes</h4>
  </div>
    <div ng-repeat="randRecipe in randRecipeData">
     <section>
       <div class="container">
         <div class="row align-items-center">
           <div class="col-lg-6 order-lg-2">
             <div class="p-5">
               <img class="img-fluid rounded-circle" src="{{randRecipe.image}}" alt="">
             </div>
           </div>
           <div class="col-lg-6 order-lg-1">
             <div class="p-5">
               <h4 class="display-4"><a href="{{randRecipe.url}}">{{randRecipe.title}}</a></h4>
               <p>Vegetarian: {{randRecipe.vegetarian}}</p>
               <p>Vegan: {{randRecipe.vegan}}</p>
               <p>Gluten Free: {{randRecipe.glutenFree}}</p>
               <p>Dairy Free: {{randRecipe.dairyFree}}</p>
               <p>Weight Watcher Smart Points: {{randRecipe.weightWatcherSmartPoints}}</p>
               <p>Preparation Time: {{randRecipe.preparationMinutes}} Minutes</p>
               <p>Cooking Time: {{randRecipe.cookingMinutes}} Minutes</p>
             </div>
           </div>
         </div>
       </div>
     </section>
   </div>

  </div>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Is Recipe 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
